<div class="container">
  <mat-tab-group color="accent">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon me-2">person</mat-icon>
        Profile
      </ng-template>

      <div id="profielTab" class="container">
        <!-- Sidenav -->
        <div class="sidenav d-flex align-items-center justify-content-center">
          <div class="profile">
            <img [src]="img" alt="" width="100" height="100" />
            <div class="name">
              {{ userData.firstname + " " + userData.lastname }}
            </div>
            <div class="job">{{ userData.role | titlecase }}</div>
            <hr />
            <div class="btn btn-success btn-sm" (click)="fileInput.click()">
              Edit Image
              <input
                type="file"
                #fileInput
                (change)="onFileSelected($event)"
                accept="image/*"
              />
            </div>
            <br />
            @if(this.fileErr !== ''){
            <div class="pt-2 text-danger">{{ fileErr }}</div>
            }
          </div>
          <div></div>
        </div>
        <!-- End -->
        <!-- Main -->
        <div class="main">
          <h2>My Profile</h2>
          <div class="card">
            <div class="card-body">
              <i class="fa fa-pen fa-xs edit"></i>
              <form [formGroup]="profileForm">
                <div class="row fs-6 gap-2 justify-content-around">
                  <div class="col-md-5">
                    First Name
                    <div>
                      <input
                        type="text"
                        formControlName="firstname"
                        [readonly]="!isEditMode"
                      />
                    </div>
                    <app-error
                      [control]="this.profileForm.get('firstname')"
                      controlErr="required"
                      errorMsg="Firstname is required"
                    />
                  </div>

                  <div class="col-md-5">
                    Last Name
                    <div>
                      <input
                        type="text"
                        formControlName="lastname"
                        [readonly]="!isEditMode"
                      />
                      <app-error
                        [control]="this.profileForm.get('lastname')"
                        controlErr="required"
                        errorMsg="Lastname is required"
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    User Name
                    <div>
                      <input
                        type="text"
                        formControlName="username"
                        [readonly]="!isEditMode"
                      />
                      <app-error
                        [control]="this.profileForm.get('username')"
                        controlErr="required"
                        errorMsg="Username is required"
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    Email
                    <div>
                      <input
                        type="email"
                        formControlName="email"
                        [readonly]="!isEditMode"
                      />
                      <app-error
                        [control]="this.profileForm.get('email')"
                        controlErr="required"
                        errorMsg="Email is required"
                      />
                      <app-error
                        *ngIf="
                          !this.profileForm.get('email').hasError('required') &&
                          this.profileForm.get('email').touched
                        "
                        [control]="this.profileForm.get('email')"
                        controlErr="email"
                        errorMsg="Enter a valid email"
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    Address
                    <div>
                      <textarea
                        [readonly]="!isEditMode"
                        id="address"
                        formControlName="address"
                        class="form-control"
                        style="background-color: white"
                      ></textarea>
                      <app-error
                        [control]="this.profileForm.get('address')"
                        controlErr="required"
                        errorMsg="Address is required"
                      />
                      <app-error
                        *ngIf="
                          !this.profileForm
                            .get('address')
                            .hasError('required') &&
                          this.profileForm.get('address').touched
                        "
                        [control]="this.profileForm.get('address')"
                        controlErr="exceedsLimit"
                        errorMsg="Address is too long"
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    Age
                    <div>
                      <input
                        type="number"
                        formControlName="age"
                        [readonly]="!isEditMode"
                      />
                      <app-error
                        [control]="this.profileForm.get('age')"
                        controlErr="required"
                        errorMsg="Age is required"
                      />
                      <app-error
                        *ngIf="
                          !this.profileForm.get('age').hasError('required') &&
                          this.profileForm.get('age').touched
                        "
                        [control]="this.profileForm.get('age')"
                        controlErr="invalidAge"
                        errorMsg="Age must be between 16 to 60"
                      />
                    </div>
                  </div>

                  <div class="col-md-5">
                    <div>
                      City
                      <select
                        style="background-color: white"
                        (change)="setState($event)"
                        class="form-select form-select-sm"
                        formControlName="city"
                        id="city"
                      >
                        <option selected value="Select City">
                          Select City
                        </option>
                        @for (data of citiesAndStates; track $index) {
                        @if(data[0] !== null){
                        <option [value]="data[0]">{{ data[0] }}</option>
                        } }
                      </select>
                    </div>
                  </div>

                  <div class="col-md-5 mt-2">
                    State
                    <div>
                      <input type="text" formControlName="state" readonly />
                    </div>
                  </div>
                  <div class="d-flex align-items-center gap-2">
                    <mat-icon
                      [ngStyle]="
                        !isEditMode ? { color: 'red' } : { color: 'green' }
                      "
                      (click)="toggleEdit()"
                      >{{ !isEditMode ? "lock" : "lock_open" }}</mat-icon
                    >
                    <span class="fs-6 text-secondary"
                      >Click on the <b>Lock Icon</b> to toggle Edit.</span
                    >
                  </div>
                </div>
              </form>
            </div>
            <!-- End -->
          </div>
        </div>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="example-tab-icon me-2">task</mat-icon>
        Completed Tasks
      </ng-template>

      <div id="completedTasks" class="container h-100">
        <div class="row justify-content-center">
          <div class="col-md-10">
            <h3 class="mb-3">Completed Tasks</h3>
            
            <div class="list-group list-group-flush completed-list">
              <a class="list-group-item list-group-item-action " *ngFor="let task of getCurrentPageTasks(); let i = index">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1 text-danger">{{ (i+1) + '. ' +task.name | titlecase }}</h5>
                  <small class="text-body-secondary">{{ task.created_at }}</small>
                </div>
              </a>
          
            </div>
          </div>
        </div>
        <app-pagination
        [currentPage]="currentPage" 
        [totalPages]="getTotalPages()" 
        (pageChange)="onPageChange($event)" />
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
