<div class="container-fluid">
  <div class="row">
    <div class="col-md-5">
      <h2>Chat</h2>
      <ul class="list-group">
          @for (user of users; track $index) {
            <a
            [routerLink]="['/chat', user.id]">
        <li
          class="list-group-item d-flex justi fy-content-between align-items-center"
          [ngClass]="activeId === user.id ? 'active' : ''"
        >
          <div class="ms-2 me-auto">
            <div class="fw-bold">
              {{ user.firstname + " " + user.lastname }}
            </div>
            ({{ user.username }})
          </div>
          <img
            class="list-image rounded-circle border border-1 border-dark"
            src="{{ user.profilePicture }}"
            alt=""
          />
        </li>
        </a>
        }
      </ul>
    </div>
    <div class="col-md-7">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
