<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="searchForm">
        <div class="input-group mb-3 px-2">
          <input type="text" class="form-control" formControlName="searchQuery" placeholder="Search" aria-label="Recipient's username" aria-describedby="basic-addon2">
          <span class="input-group-text" id="search-icon"> <mat-icon class="mat-18">search</mat-icon> </span>
        </div>
      </form>
      @if(filteredUsers.length > 0){
      <ul class="list-group" >
        @for (user of filteredUsers; track $index) {
        <a (click)="markRead()" [routerLink]="['/chat', user.id]">
          <li 
            class="list-group-item d-flex justi fy-content-between align-items-center"
            [ngClass]="activeId === user.id ? 'active' : ''"
          >
            <div class="ms-2 me-auto">
              <div class="fw-bold">
                {{ user.firstname + " " + user.lastname }}
                @if(user.unread){
                  <span style="font-size: 12px;" class="rounded-circle bg-danger text-white px-2 py-1">{{user.unread}}</span>
                }
              </div>
              ({{ user.username }})
            </div>
            <img
              class="list-image rounded-circle border border-1 border-dark"
              src="{{ user.profilePicture }}"
              alt=""
            />
          </li>
        </a>
        }
      </ul>
    }
    @else {
      <div class="text-center list-group">
        <span class="fs-2 text-secondary">No users to chat</span>
      </div>
    }

    </div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
