<div class="row m-0 p-0 justify-content-center">
    <div class="col-md-5">
      <img
        src="/assets/images/backgrounds/forgot-password-bg.jpg"
        width="600px"
        height="600px"
      />
    </div>
    <div class="col-md-4">
      <div class="row justify-content-center align-items-center p-0 m-0 h-100">
        <div class="col-12">
          <form [formGroup]="resetPass" (ngSubmit)="onSubmit()">
            <h4 class="form-title">Password Reset</h4>
            <div class="primary-input-group">
              <input
                type="password"
                formControlName="password"
                id="password"
                placeholder="Password"
              />
              <app-error
                [control]="this.resetPass.get('password')"
                controlErr="required"
                errorMsg="Password is Required"
              ></app-error>
            </div>

            <div class="primary-input-group">
              <input
                type="password"
                formControlName="cpassword"
                id="cpassword"
                placeholder="Confirm Password"
              />
              <app-error
                [control]="this.resetPass.get('cpassword')"
                controlErr="required"
                errorMsg="Confirm Password is Required"
              ></app-error>
              <app-error
                [control]="this.resetPass"
                controlErr="passwordMatch"
                errorMsg="Passwords are not Matching"
              ></app-error>
            </div>

            <div class="checkpoints my-2">
                <span
                  *ngFor="
                    let validation of passwordValidations;
                    let i = index
                  "
                  [ngClass]="{
                    'text-success fw-normal': !resetPass
                      .get('password')
                      .hasError(validation.title),
                    'text-danger fw-normal':
                      resetPass
                        .get('password')
                        .hasError(validation.title) ||
                      resetPass.get('password').value === null ||
                      resetPass.get('password').value === ''
                  }"
                >
                  <img
                    [src]="getValidationImagePath(validation.title)"
                    width="20px"
                    alt=""
                  />
                  {{ validation.message }}
                </span>
              </div>
            <div class="d-flex gap-3">
              <div class="mt-3 border border-danger border-2">
                <button
                  type="submit"
                  [disabled]="!resetPass.valid"
                  class="btn btn-danger rounded-0 px-5 py-2"
                >
                  Reset Password
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  