<div class="breadcrumb-area">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-12">
        <div class="breadcrumb-content">
          <div class="page-outlined-text">
            <h1>Contact Us</h1>
          </div>
          <h2 class="page-title">Contact Us</h2>
          <ul class="page-switcher">
            <li>
              <a routerLink="/home">Home <i class="bi bi-caret-right"></i></a>
            </li>
            <li>Contact Us</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="contact-wrapper overflow-hidden">
  <div class="container pt-120 position-relative">
    <div class="background-title text-style-one">
      <h2>Contact Now</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="contact-card mt-0">
          <div class="contact-box-corner1">
            <img src="assets/images/shapes/cornoer-shape1.png" alt />
          </div>
          <div class="contact-box-corner2">
            <img src="assets/images/shapes/cornoer-shape2.png" alt />
          </div>
          <div class="contact-icon">
            <img src="assets/images/icons/c-location.png" alt />
          </div>
          <div class="contact-info">
            <h3 class="contact-title">Location</h3>
            <a>Luxuria Bussiness Hub, Dumas Road, Vesu, Surat</a>
          </div>
        </div>
        <div class="contact-card">
          <div class="contact-box-corner1">
            <img src="assets/images/shapes/cornoer-shape1.png" alt />
          </div>
          <div class="contact-box-corner2">
            <img src="assets/images/shapes/cornoer-shape2.png" alt />
          </div>
          <div class="contact-icon">
            <img src="assets/images/icons/c-phone.png" alt />
          </div>
          <div class="contact-info">
            <h3 class="contact-title">Phone</h3>
            <a href="tel:+919624059306">+91 96240 59306</a>
            <a href="tel:+919624059306">+91 96240 59306</a>
          </div>
        </div>
        <div class="contact-card">
          <div class="contact-box-corner1">
            <img src="assets/images/shapes/cornoer-shape1.png" alt />
          </div>
          <div class="contact-box-corner2">
            <img src="assets/images/shapes/cornoer-shape2.png" alt />
          </div>
          <div class="contact-icon">
            <img src="assets/images/icons/c-massege.png" alt />
          </div>
          <div class="contact-info">
            <h3 class="contact-title">Email</h3>
            <a
              ><span class="__cf_email__">{{ "managment@eventlab.com" }}</span>
            </a>
            <a
              ><span class="__cf_email__">{{ "manager@eventlab.com" }}</span>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <form id="contact-form" [formGroup]="contactForm">
          <div class="contact-form-wrapper">
            <h4 class="contact-form-title">Write a Message</h4>
            <div class="primary-input-group">
              <input
                type="text"
                formControlName="name"
                id="name"
                placeholder="Your Name"
              />
              <app-error
                [control]="this.contactForm.get('name')"
                controlErr="required"
                errorMsg="Name is Required"
              />
            </div>
            <div class="primary-input-group">
              <input
                type="email"
                formControlName="email"
                id="email"
                placeholder="Your Email"
              />
              <app-error
                [control]="this.contactForm.get('email')"
                controlErr="required"
                errorMsg="Email is Required"
              />
              <app-error
                *ngIf="
                  !this.contactForm.get('email').hasError('required') &&
                  this.contactForm.get('email').touched
                "
                [control]="this.contactForm.get('email')"
                controlErr="email"
                errorMsg="Invalid email address"
              />
            </div>
            <div class="primary-input-group">
              <input
                type="text"
                formControlName="subject"
                id="subject"
                placeholder="Subject"
              />
              <app-error
                [control]="this.contactForm.get('subject')"
                controlErr="required"
                errorMsg="Subject is required"
              />
            </div>
            <div class="primary-input-group">
              <textarea
                name="messege"
                id="message"
                cols="30"
                rows="7"
                formControlName="message"
                placeholder="Write Message"
              ></textarea>
              <app-error
                [control]="this.contactForm.get('message')"
                controlErr="required"
                errorMsg="Message is required"
              />
            </div>
            <div class="primary-input-group">
              <re-captcha
                formControlName="recaptchaReactive"
                (resolved)="checkCaptcha($event)"
                name="recaptchaReactive"
                [siteKey]="siteKey"
              >
              </re-captcha>
            </div>
            <div class="submit-btn">
              <button
                type="submit"
                [disabled]="!contactForm.valid || clickedOnce"
                (click)="onSubmit()"
                class="btn btn-danger"
              >
                {{ clickedOnce ? "Please Wait..." : "Submit" }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
