<div class="container">
  <div class="chat-header bg-success gap-2 rounded-top">
    <img class="volunteer-img" [src]="volunteer.profilePicture" alt="" />
    <div class="text-white">
      {{
        volunteer.firstname +
          " " +
          volunteer.lastname +
          " (" +
          volunteer.username +
          ")" | titlecase
      }}
    </div>
    <div
      class="ms-auto me-4 border border-1 border-dark p-1 rounded-circle d-flex bg-white cursor-pointer"
      (click)="openInNewTab()" target="_blank"
    >
      <mat-icon class="mat-18 text-success">videocam</mat-icon>
    </div>
  </div>
  <div class="bg-image">
    <div class="messageContainer">
      <div *ngFor="let message of messages">
        @if(message.from === 'sender'){
        <div class="message right" [innerHTML]="sanitizeHtml(message.message)"></div>
        } @else {
        <div class="message left" [innerHTML]="sanitizeHtml(message.message)"></div>
        }
      </div>
    </div>
    <form class="d-flex gap-2" [formGroup]="messageForm">
      <emoji-mart
        *ngIf="showEmojiPicker"
        [style]="{ position: 'absolute', bottom: '90px', right: '550px' }"
        (emojiClick)="addEmoji($event)"
        #emojiPicker
      ></emoji-mart>
      <button
        class="btn btn-light border border-2"
        type="button"
        (click)="toggleEmojiPicker()"
      >
        😊
      </button>
      <input
        class="msgInp form-control rounded-3 border border-2"
        formControlName="newMessage"
        placeholder="Type a message here..."
      />
      <button
        class="btn btn-primary px-4"
        (click)="sendMessage()"
        type="submit"
      >
        Send
      </button>
    </form>
  </div>
</div>
