.bg-image {
    background: url('/assets/images/backgrounds/chat-bg.jpg') rgba(255,255,255,0.2);
    padding:10px 3px;
    border: 1px solid #000000;
}
.messageContainer {
    width: 100%;
    height: 65vh;
    margin-bottom: 5px;
    overflow-y: auto;
}

.message {
    width: auto;
    height: auto;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

.right{
    background-color: #d0f5d0;
    float: right;
    border: 1px solid #ccc;
    clear: both;
}

.left{
    background-color: white;
    float: left;
    border: 1px solid #ccc;
    clear: both;
}

.chat-header{
    width: 100%;
    min-height: 75px;
    max-height: 75px;
    display: flex;
    align-items: center;
    border: 1px solid #000000;
    border-bottom: 0px;
}

.volunteer-img {
    width: 45px;
    height: auto;
    margin-left: 10px;
    border-radius: 50%;
    border: 2px solid white;
}
