@if(applications.length > 0) {

<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Profile</th>
        <th scope="col">Username</th>
        <th scope="col">Age</th>
        <th scope="col">Address</th>
        <th scope="col">Review</th>
        <th scope="col">Event Name</th>
        <th scope="col">Required</th>
        <th scope="col">Hired</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      @for (applicants of applications; track $index) {
      <tr>
        <th scope="row">{{ $index + 1 }}</th>
        <td class="text-center">
          <a routerLink="{{ '/volunteer/' + applicants.volunteer_id }}">
            <img
              src="{{ applicants.profilePicture }}"
              width="50px"
              class="rounded-circle"
              alt=""
            />
          </a>
        </td>
        <td>{{ applicants.username }}</td>
        <td>{{ applicants.age }}</td>
        <td>
          {{
            applicants.address +
              ", " +
              applicants.city +
              ", " +
              applicants.state
          }}
        </td>
        <td>
          @if (applicants.rating >0){
          <ng-container>
            <mat-icon
              class="mat-18 text-warning"
              *ngFor="let star of getStars(applicants.rating)"
              >star</mat-icon
            >
            <mat-icon
              class="mat-18 text-secondary"
              *ngFor="let star of getEmptyStars(applicants.rating)"
              >star</mat-icon
            >
          </ng-container>
          } @else {
          <span class="fw-light">(No reviews)</span>
          }
        </td>
        <td>{{ applicants.eventDetails.name }}</td>
        <td>{{ applicants.eventDetails.volunteers }}</td>
        <td>{{ applicants.eventDetails.hired }}</td>
        <td class="">
          @if(applicants.status === 'applied'){
            <div class="d-flex mt-3">
          <button
            class="btn btn-success btn-sm rounded-5 mx-1"
            (click)="
              onAction(
                'accepted',
                applicants.application_id,
                applicants.volunteer_id
              )
            "
          >
            Accept
          </button>
          <button
            class="btn btn-danger btn-sm rounded-5 mx-1"
            (click)="onAction('rejected',applicants.application_id, null)"
          >
            Reject
          </button>
        </div>  
        } @else{
          <span
            [ngClass]="
              applicants.status === 'accepted'
                ? 'text-bg-success'
                : 'text-bg-danger'
            "
            class="badge px-2 py-1"
            >{{ applicants.status | titlecase }}</span
          >
          }
        </td>
      </tr>
      }
    </tbody>
  </table>
  <app-pagination 
      [currentPage]="currentPage"
      [totalPages]="getTotalPages()"
      (pageChange)="onPageChange($event)"
      />
</div>
} @else {
<div class="container">
  <h3 class="text-secondary">No applications are there !</h3>
</div>
}
