<div class="container">
  @if(appliedEvents.length > 0){
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Image</th>
        <th scope="col">Name</th>
        <th scope="col">Organizer</th>
        <th scope="col">Description</th>
        <th scope="col">Started</th>
        <th scope="col">Ended</th>
        <th scope="col">Venue</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      @for (ev of getCurrentPageAppliedEvents(); track $index) {
      <tr>
        <th scope="row">{{ +$index + 1 }}</th>
        <td class="text-center">
          <img src="{{ ev.cover_img }}" width="50px" alt="{{ ev.name }}" />
        </td>
        <td>{{ ev.name }}</td>
        <td>{{ ev.organizer_name }}</td>
        <td>{{ ev.description | truncate : 10 }}</td>
        <td>{{ ev.start_date }}</td>
        <td>{{ ev.end_date }}</td>
        <td>{{ ev.venue }}</td>
        <td>
          @if(ev.status === "applied"){
          <div class="btn-sm badge text-bg-warning">
            {{ ev.status | titlecase }}
          </div>
          }@else if(ev.status === "accepted"){
          <div class="btn-sm badge text-bg-success">
            {{ ev.status | titlecase }}
          </div>

          } @else if(ev.status === "rejected"){
          <div class="btn-sm badge text-bg-danger">
            {{ ev.status | titlecase }}
          </div>
          }
        </td>
      </tr>
      }
    </tbody>
  </table>

  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="getTotalPages()"
    (pageChange)="onPageChange($event)"
  />

  } @else {
  <div class="container">
    <h2>No Data Found</h2>
    <a class="btn btn-primary" routerLink="/events"
      >Click here to go on events</a
    >
  </div>
  }
</div>
