<div class="container pb-1">
  <div class="row justify-content-end mb-3">
    <div class="col-md-3 d-flex gap-1 align-items-center">
      Filter:
      <select class="form-select" (change)="filterEvents($event)">
        <option value="all" selected>All</option>
        <option value="upcoming">Upcoming</option>
        <option value="ongoing">Ongoing</option>
        <option value="completed">Completed</option>
      </select>
    </div>
    <div class="col-md-3 d-flex gap-1 align-items-center">
      Sort:
      <select class="form-select" (change)="changeSortOrder($event)">
        <option value="desc" selected>Upcoming</option>
        <option value="asc">Completed</option>
      </select>
    </div>
    </div>

    <div class="row">
      @if(displayEvents.length > 0){
    @for (event of displayEvents; track $index) {
    <a (click)="openDetails(event,'500ms', '200ms')" class="col-md-4">
      <div class="card mb-3">
        <img
          [src]="event.cover_img"
          class="card-img-top"
        />
        <div class="card-body">
          <h5 class="card-title">{{ event.name | titlecase }}</h5>
          <p class="card-text my-0">{{ event.description | truncate : 10 | titlecase }}</p>
          <p class="card-text mt-1">
            <span class="fw-semibold">Started: </span>
            <small class="text-body-secondary">{{
              event.start_date | date : "d MMMM y (EEEE)"
            }}</small>
            <br>
            <span class="fw-semibold">Ended: </span> 
            <small class="text-body-secondary">{{
              event.end_date | date : "d MMMM y (EEEE)"
            }}</small>
          </p>
            <div
              class="rounded-4 badge p-2"
              [ngClass]="{
                'btn-warning':
                  getStatus(event.start_date, event.end_date) === 'Ongoing',
                'btn-primary':
                  getStatus(event.start_date, event.end_date) === 'Upcoming',
                'btn-danger':
                  getStatus(event.start_date, event.end_date) === 'Completed'
              }"
            >
              {{ getStatus(event.start_date, event.end_date) }}
            </div>
        </div>
      </div>
    </a>
    }

    <div class="mb-5">

      <app-pagination
      [currentPage]="currentPage" 
      [totalPages]="getTotalPages()" 
      (pageChange)="onPageChange($event)" />
</div>
}
@else {
  <h3 class="text-secondary fw-semibold">No Events found</h3>
}
</div>
</div>
