<!-- testimonial-slider.component.html -->
<div class="testimonial-slider-two swiper container">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <!-- Your individual slides go here -->
      <div class="swiper-slide">
        <div class="testimonial-card-style-two">
          <div class="reviewer-image">
            <img src="assets/images/speaker/testi-reviewer2.png" alt />
          </div>
          <div class="testimonial-content">
            <h4 class="reviewer-name">Madison Layla</h4>
            <h6 class="reviewer-designation">Marketing</h6>
            <div class="review-text">
              <p>
                Cras semper, massa vel aliquam luctus, eros odio tempor turpis,
                ac placerat metus tortor eget magna. Donec mattis posuere
                pharetra Donec vestibulum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testimonial-card-style-two">
          <div class="reviewer-image">
            <img src="assets/images/speaker/testi-reviewer3.png" alt />
          </div>
          <div class="testimonial-content">
            <h4 class="reviewer-name">Roman Connor</h4>
            <h6 class="reviewer-designation">Marketing</h6>
            <div class="review-text">
              <p>
                Cras semper, massa vel aliquam luctus, eros odio tempor turpis,
                ac placerat metus tortor eget magna. Donec mattis posuere
                pharetra Donec vestibulum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testimonial-card-style-two">
          <div class="reviewer-image">
            <img src="assets/images/speaker/testi-reviewer2.png" alt />
          </div>
          <div class="testimonial-content">
            <h4 class="reviewer-name">Madison Layla</h4>
            <h6 class="reviewer-designation">Marketing</h6>
            <div class="review-text">
              <p>
                Cras semper, massa vel aliquam luctus, eros odio tempor turpis,
                ac placerat metus tortor eget magna. Donec mattis posuere
                pharetra Donec vestibulum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="testimonial-card-style-two">
          <div class="reviewer-image">
            <img src="assets/images/speaker/testi-reviewer3.png" alt />
          </div>
          <div class="testimonial-content">
            <h4 class="reviewer-name">Roman Connor</h4>
            <h6 class="reviewer-designation">Marketing</h6>
            <div class="review-text">
              <p>
                Cras semper, massa vel aliquam luctus, eros odio tempor turpis,
                ac placerat metus tortor eget magna. Donec mattis posuere
                pharetra Donec vestibulum.
              </p>
            </div>
          </div>
        </div>
      </div>
      <!-- Add more slides as needed -->
    </div>
    <!-- Add Pagination -->
    <div class="testi-pagination swiper-pagination"></div>
    <!-- Add Navigation -->
    <div class="d-flex justify-content-between pt-4">
      <div
        class="testi-prev swiper-arrow-prev"
        tabindex="0"
        role="button"
        aria-label="Previous slide"
      >
        <i class="bi bi-chevron-left"></i>
      </div>
      <div
        class="testi-next swiper-arrow-prev"
        tabindex="0"
        role="button"
        aria-label="Next slide"
      >
        <i class="bi bi-chevron-right"></i>
      </div>
    </div>
  </div>
</div>
