<div class="container pb-1">
  <div class="row justify-content-center mb-3">
    <div class="col-md-8">
      <label for="search" class="form-label">Search Volunteer</label>
      <div class="d-flex gap-2">
        <input
          class="form-control"
          type="text"
          placeholder="Search Volunteer"
          #searchTerm
          (keyup)="search()"
        />
        <button class="btn btn-success rounded-3" (click)="search()">
          Search
        </button>

        <select
          class="form-select w-50"
          #selectedSortOption
          (change)="onSortChange()"
        >
          <option value="default">Default</option>
          <option value="age">By Age (low to high)</option>
          <option value="age-rev">By Age (high to low)</option>
          <option value="rating">by Rating (high to low)</option>
          <option value="rating-rev">by Rating (low to high)</option>
        </select>
      </div>
    </div>
  </div>
  @if (volunteersList.length > 0 && !noMatch) {
  <div class="row">
      
    <div class="col-md-3 mb-3" *ngFor="let volunteer of getVolunteersForPage()">
      <div class="card" style="width: 19rem">
        <div class="row px-2">
          <div class="col-md-6">
            <img
              src="{{ volunteer.profilePicture }}"
              style="width: 100px; height: 100px"
              class="card-img-top d-block mx-auto my-2 border rounded-circle"
              alt="{{ volunteer.username }}"
            />
          </div>
          <div class="col-md-6 my-auto">
            <h5 class="card-title">
              {{ volunteer.username | titlecase }}
            </h5>
            <div class="text-secondary">
              <div>{{ volunteer.firstname + " " + volunteer.lastname }}</div>
            </div>
            <div class="text-secondary">
              <div>Age: {{ volunteer.age }}</div>
            </div>
          </div>
        </div>
        <div class="card-body fs-6">
          <div class="fw-normal py-2">
            <b>From: </b>{{ volunteer.city + " , " + volunteer.state}}
          </div>
          <div class="fw-normal d-flex align-items-center py-2">
            <b>Review:&nbsp;</b>
            @if (volunteer.rating >0){
            <ng-container>
              <mat-icon
                class="mat-18 text-warning"
                *ngFor="let star of getStars(volunteer.rating)"
                >star</mat-icon
              >
              <mat-icon
                class="mat-18 text-secondary"
                *ngFor="let star of getEmptyStars(volunteer.rating)"
                >star</mat-icon
              >
            </ng-container>
            } @else {
            <span class="fw-light">(No reviews)</span>
            }
          </div>
          <a
            class="w-100 btn btn-success rounded-2 mb-2"
            routerLink="/volunteer/{{ volunteer._id }}"
            >View Profile</a
          >
          <button
            type="button"
            class="w-100 btn btn-warning rounded-2"
            (click)="createInstance(volunteer._id)"
            >Message</button>
        </div>
      </div>
    </div>

    <app-pagination
    [currentPage]="currentPage" 
    [totalPages]="getTotalPages()" 
    (pageChange)="onPageChange($event)">
  </app-pagination>
  

  </div>
  } @else if(volunteersList.length > 0 && noMatch){
  <h2>No User Found</h2>
  } @else {
  <div>Loading...</div>
  }
</div>
