<div class="container">
  <h2>Chat</h2>
  <div class="messageContainer rounded">
    <div *ngFor="let message of messages">
      <div class="message right">Send</div>
      <div class="message left">Recieve</div>
    </div>
  </div>

  <form class="d-flex gap-2" [formGroup]="messageForm">
    <input
      class="msgInp form-control rounded-3 border border-2"
      formControlName="newMessage"
      placeholder="Type a message here..."
    />
    <button class="btn btn-primary px-4" (click)="sendMessage()">Send</button>
  </form>
</div>
